header, footer, body {
    text-align: center;
    width: 100%;
    padding: 20px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

body {
    margin: auto;
    font-family: Arial, sans-serif;
}

#logo {
    width: 100px;
    height: 100px;
    margin-left: 140px;
}

form {
    margin: 10px auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Add a media query for smaller screens */
@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr; /* Display a single column */
    }
}

label {
    font-weight: bold;
    color: rgb(60, 128, 150);
}

input {
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
}

button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    grid-column: span 2;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}