body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: var(--tg-color-scheme);
    padding: 10px;
}

#logo {
    width: 100px;
    height: 100px;
}

form {
    margin: 20px auto;
    max-width: 170px;
}

label, input {
    display: block;
    margin: 10px 0;
}

input {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 3px
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 13px
}
