body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

header {
    background-color: var(--tg-color-scheme);
    padding: 10px;
}
#logo {

    width: 100px;
    height: 100px;

}

form {
    margin: 10px auto;
    max-width: 300px; 
    display: grid;
    grid-template-columns: 2fr 2fr; 
    gap: 20px; 
}

label, input {
    display: block;
    margin: 5px auto;
    color: var(--tg-theme-button-text-color);
}

label { 
  font-size: 16px; 
  font-weight: bold

}

input {
    border: none;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
    border-radius: 3px;
    background-color: var(--tg-theme-secondary-bg-color);
}

button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    grid-column: span 2; 
}

[id*=flat-slider].ui-slider, [id*=flat-slider].ui-slider .ui-slider-pip .ui-slider-line { background: lighten(#FFFFFF , 25%); }
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-hover, 
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-focus, 
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-active { border-color: white; }

body { background: var(--tg-theme-bg-color); font-family: Arial, sans-serif; }


.slider-container { display: flex; align-items: left;
  height: 50px; width: 200px }

.slider-value { width:50px; margin-right: 20px; padding: 10px 10px; }

.slider { flex-grow: 1; margin-top: 10px; margin-left: 20px } 
